@font-face {
  font-family:'PT Sans';
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family:'PT Sans';
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

html{
  height: 100%;
}

body{
  margin:0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #242424;
  background-color:#F2F2F2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container{
  margin:0 auto;
  width: 1200px;
  background-color: #ffffff;
}

.main-container{
  flex-grow: 1;
}

.page-header{
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
}

.navigation{
  display: flex;
  width: 1200px;
  margin:0 auto;
}

.navigation-list{
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  margin: 0;
  padding: 0;
  list-style-type: none;

}

.navigation-logo{
  display: flex;
  max-width: 140px;
  padding: 0;
  margin: 0px 30px 0px 70px;
  list-style-type: none;
}

.navigation-link{
  display: block;
  padding-right:34px;
  padding-top: 20px;
}

.navigation-user{
  max-width: 300px;
  margin-left: auto;
}

.navigation-user .navigation-link{
  min-width: 20px;
  min-height: 20px;
}

.page-header a{
  color:#242424;
  text-decoration: none;
}

.main-index{
 text-align: center;
}

.main-logo{
  display: block;
  margin: 0 auto;
}

.main-header-image{
  background-image: url(../images/index-background.jpg);
  height: 485px;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.main-logo{
  padding: 52px 371px 82px 371px;
}

 .main-header-text h1{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 63px 290px 30px;

}

.main-header-text p{
  margin-bottom: 90px;
}

.advantages-list{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-title{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.advantages-item{
  display: flex;
  list-style-type: none;
  padding: 0;
}

.convenience-title{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.advantages-block{
  width: 400px;
  background: #82B3D3;
  color: #ffffff;
  padding:92px 85px;
}

.advantages-block h3{
  margin: 0;
  margin-bottom: 30px ;
}

.advantages-block p{
  margin-bottom: 0;
}

.convenience{
  display: flex;
  list-style-type: none;
  padding: 0;
}

.convenience-item{
  width: 400px;
  padding:80px 85px;
}

.convenience-item:not(:nth-child(2)){
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item-block{
  width: 400px;
  padding: 102px 85px;
}

.advantages-item-block{
  background: rgba(131, 179, 211, 0.12);
}

.advantages-difference{
  background: rgba(131, 179, 211, 0.2);
}

.hotel-search{
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 92px 312px;
}

.hotel-search b{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.button-hotel-search{
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  background: #756157;
}

.newsletter{
  background: #000000;
  color: #FFFFFF;
  background-image: url(../images/background.email.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  padding: 94px 200px;
}

.newsletter h2{
  margin: 0;
  margin-bottom: 30px;
}

.newsletter p{
  margin:0;
  margin-bottom: 46px;
}

.page-newsletter-title{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.newsletter-button{
  text-transform: uppercase;
  background: #82B3D3;
}

/*Футер*/
.page-footer{
  margin: 0 auto;
  width: 1200px;
}

.page-footer-container{
  display: flex;
  padding: 40px 70px 30px ;
}

.footer-social-list{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 160px;
  list-style-type: none;
  margin-right: 236px;
}

.footer-social-item{
  width: 48px;
  height: 40px;
}

.button-vk{
  background-image: url(../images/logo/logo.vk.svg);
  background-repeat: no-repeat;
}

.button-telegram{
  background-image: url(../images/logo/logo.telegram.svg);
  background-repeat: no-repeat;
}

.button-youtube{
  background-image: url(../images/logo/logo.you-tube.svg);
  background-repeat: no-repeat;
}

.footer-contacts-phone{
  text-decoration: none;
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  width: 332px;
}

.footer-logo{
  margin: 0;
  margin-left: auto;
}

/*Каталог*/
.catalog-hotel{
  background-color: #242424;
  color:#FFFFFF;
  background-image: url(../images/catalog-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding: 35px 70px 70px 70px;
}

.inner-header-title{
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
}

.breadcrumbs{
  display: flex;
  width: 110;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  list-style-type: none;
}

.breadcrumbs-link{
  font-weight: 400;
  font-size: 16px;
  color:#FFFFFF;
  text-decoration: none;
}

.breadcrumbs .breadcrumbs-link{
  min-width:12px;
  min-height: 12px;
}

.hotel-filter{
  display: flex;
  margin: 0 auto;
  width: 1060px;
}

.catalog-filter-infrastructure{
  width: 151px;
  margin-right: 70px;
}

.catalog-filter-house{
  width: 146;
  margin-right: 175px;

}

.catalog-filter-price{
  width: 289px;
  margin-right: 70px;
}

.catalog-filter-button{
  width: 160px;
}

.catalog-filter-title{
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.catalog-filter-list{
  list-style-type: none;
}

.button{
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-decoration: none;
}

.sorting{
  display: flex;
  width: 1056px;
  margin: 60px 70px;
}

.select-control{
  width: 290px;
  height: 50px;
  margin-right: 78px;
}

.sorting h2{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-right: 190px;
}

.sorting .button{
  width: 48px;
  height: 48px;
  margin-right: 8px;
  background-color:  #000000;
}

.container-hotel-list{
  width: 1056px;
  margin-left: 70px;
  margin-bottom: 96px;
}

.hotel-list{
  display:grid;
  grid-template-columns: 340px 340px 340px;
  column-gap: 18px;
  padding: 0;
  margin: 0;
}

.hotel-card-content{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.hotel-card-title-link{
  width: 300px;
}

.hotel-card-title{
  margin: 0;
  margin-bottom: 16px;
}

.hotel-card-link{
  color: #000000;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

.hotel-list button{
  background: #82B3D3;
  padding: 0;
  padding: 8px;
  width: 140px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.hotel-card{
  display: flex;
  flex-direction: column;
  color:#333333;
}

.hotel-card-button{
  text-align: center;
  width: 140px;
  height: 36px;
  margin-right: 20px;
  margin-bottom: 16px;
  padding-top:8px  ;
  background: #756157;
  text-transform: uppercase;
}

.type-hotel{
  width: 136px;
  margin-right: 24px;
  margin-bottom: 16px;
}

.star{
  display: flex;
  list-style-type: none;
  margin-right: auto;
  padding: 0;
}

.rating{
  padding: 8px 32px;
  background: #F2F2F2;
}

.pagination-link{
  display: block;
  box-sizing: border-box;
  color: #FFFFFF;
  background: #82B3D3;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  padding: 10px 10px;
  border-radius: 4px;
  width: 60px;
  height: 60px;
}

.pagination-container {
  display: flex;
  margin-left: 70px;
}

.pagination{
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item:not(:last-child){
  margin-right: 8px;
}

.select-control{
  margin-left: auto;
}

.catalog-newsletter{
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.catalog-newsletter{
  color: #000000;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 94px 200px;
}

.catalog-newsletter h2{
  margin: 0;
  margin-bottom: 30px;
}

.catalog-newsletter p{
  margin:0;
  margin-bottom: 46px;
}

.newsletter-button{
  text-transform: uppercase;
  background: #82B3D3;
}




