@font-face {
  font-family:'PT Sans';
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family:'PT Sans';
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

html{
  height: 100%;
}

body{
  margin:0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #242424;
  background-color:#FFFFFF;
}

.container{
  margin:0 auto;
  width: 1200px;
}

.main-container{
  flex-grow: 1;
}

.page-header{
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
}

.navigation{
  display: flex;
  width: 1200px;
  margin:0 auto;
}

.navigation-logo{
  max-width: 139;
  margin-right: auto;
}

.navigation-list{
  width: 400px;
  margin: 0;
  padding: 0;
}

.navigation-user{
  max-width: 300px;
  margin-left: auto;
}

.page-header a{
  color:#242424;
  text-decoration: none;
}

.main-index{
 text-align: center;
}

.main-logo{
  display: block;
  margin: 0 auto;
}

.main-header-image{
  background-image: url(../images/index-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}



.main-header-text h1{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.advantages-list{
  margin: 0;
  padding: 0;
}

.advantages-title{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.advantages-item{
  display: flex;
}

.convenience-title{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.advantages-block{
  width: 400px;
  background: #82B3D3;
}

.convenience{
  display: flex;
}

.convenience-item{
  width: 400px;
}

.convenience-item:not(:nth-child(2)){
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item-block{
  width: 400px;
}

.advantages-item-block{
  background: rgba(131, 179, 211, 0.12);
}

.advantages-difference{
  background: rgba(131, 179, 211, 0.2);
}

.hotel-search{
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.hotel-search b{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.button-hotel-search{
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  background: #756157;
}

.newsletter{
  background: #000000;
  color: #FFFFFF;
  background-image: url(../images/background.email.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.page-newsletter-title{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.newsletter-button{
  text-transform: uppercase;
  background: #82B3D3;
}

/*Футер*/
.page-footer{
  display: flex;
  margin: 0 auto;
  width: 1200px;
}

.footer-social-list{
  display: flex;
  width: 160px;
  margin-right: 250px;
}

.button-vk{
  background-image: url(../images/logo/logo.vk.svg);
  background-repeat: no-repeat;
}

.button-telegram{
  background-image: url(../images/logo/logo.telegram.svg);
  background-repeat: no-repeat;
}

.button-youtube{
  background-image: url(../images/logo/logo.you-tube.svg);
  background-repeat: no-repeat;
}

.footer-contacts-phone{
  text-decoration: none;
  color: #000000;
  font-size: 40px;
  line-height: 40px;
}

.footer-logo{
  margin-left: auto;
}

/*Каталог*/
.catalog-hotel{
  background-color: #242424;
  color:#FFFFFF;
  background-image: url(../images/catalog-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.inner-header-title{
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs{
  display: flex;
  width: 110;
  margin: 0 auto;
}

.breadcrumbs-link{
  font-weight: 400;
  font-size: 16px;
  color:#FFFFFF;
  text-decoration: none;
}

.hotel-filter{
  display: flex;
  margin: 0 auto;
  width: 1060px;
}

.catalog-filter-infrastructure{
  width: 151px;
  margin-right: 70px;
}

.catalog-filter-house{
  width: 146;
  margin-right: 175px;
}

.catalog-filter-price{
  width: 289px;
  margin-right: 70px;
}

.catalog-filter-button{
  width: 160px;
}

.catalog-filter-title{
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.button{
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-decoration: none;
}

.sorting{
  display: flex;
  margin: 0 auto;
  width: 1056px;
}

.catalog-show h2{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.container-hotel-list{
  width: 1056px;
}

.hotel-card-link{
  color: #000000;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.hotel-list button{
  background: #82B3D3;
}

.hotel-card{
  color:#333333;
}

.hotel-card-button{
  background: #756157;

}

.rating{
  background: #F2F2F2;
}

.pagination-link{
  color: #FFFFFF;
  background: #82B3D3;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
}

.catalog-newsletter{
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}




