@font-face {
  font-family:'PT Sans';
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family:'PT Sans';
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

html{
  height: 100%;
}

body{
  margin:0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #242424;
  background-color:#F2F2F2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container{
  margin:0 auto;
  width: 1200px;
  background-color: #ffffff;
}

.main-container{
  flex-grow: 1;
}

.page-header{
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
}

.navigation{
  display: flex;
  width: 1200px;
  margin:0 auto;
}

.navigation-list{
  display: flex;
  flex-wrap: wrap;
  /*width: 450px;*/
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: 187px;
}

.navigation-user .navigation-item:nth-child(1) .navigation-link{
  background-image: url('../images/search.svg');
  background-repeat: no-repeat;
  background-position: center;
  padding: 24px 12px;
}

.navigation-user .navigation-item:nth-child(2) .navigation-link{
  background-image: url('../images/favourites.svg');
  background-repeat: no-repeat;
  background-position: center;
  padding: 24px 12px;
}

.navigation-user .navigation-item:nth-child(3){
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.navigation-user .navigation-item:nth-child(3) .navigation-link{
  box-sizing: border-box;
  padding: 8px 14px;
  background: #756157;
  text-align: center;
  color: #ffffff;
  width: 160px;
  border-radius: 4px;
}

.logo{
  position:absolute;
}

.navigation-logo{
  display: flex;
  max-width: 140px;
  padding: 0;
  margin-top: 0;
  margin-left: 70px;
  list-style-type: none;
}

.navigation-link{
  display: block;
  padding-right:34px;
  padding-top: 20px;
}

.navigation-user{
  max-width: 300px;
  margin-left: auto;
  margin-right: 70px;
}

.navigation-user .navigation-link{
  min-width: 20px;
  min-height: 20px;
}

.navigation-user .navigation-item .button:hover{
  background-color: #615048;
}

.navigation-user .navigation-item .button:active{
  background-color:  #756157;
  color: rgba(255, 255, 255, 0.3);
}

.page-header a{
  color:#242424;
  text-decoration: none;
}

.main-index{
 text-align: center;
}

.main-logo{
  display: block;
  margin: 0 auto;
}

.main-header-image{
  background-image: url('../images/index-background.jpg');
  height: 485px;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.decoration{
  background-image:url('../images/Vektor.svg') ;
  width: 1200px;
  height: 57px;
  position: absolute;
  bottom: 75px;
}

.main-logo{
  padding: 52px 371px 82px 371px;
}

 .main-header-text h1{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 63px 290px 30px;

}

.main-header-text p{
  margin-bottom: 90px;
}

.advantages-list{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-title{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.advantages-item{
  display: flex;
  list-style-type: none;
  padding: 0;
}

.convenience-title{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.advantages-block{
  width: 400px;
  background: #82B3D3;
  color: #ffffff;
  padding:92px 85px;
}

.advantages-block h3{
  margin: 0;
  margin-bottom: 30px ;
}

.advantages-block p{
  margin-bottom: 0;
}

.convenience{
  display: flex;
  list-style-type: none;
  padding: 0;
}

.convenience-item{
  width: 400px;
  padding:80px 85px;
}

.convenience-item:not(:nth-child(2)){
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item-block{
  width: 400px;
  padding: 102px 85px;
}

.advantages-item-block{
  background: rgba(131, 179, 211, 0.12);
}

.advantages-difference{
  background: rgba(131, 179, 211, 0.2);
}

.hotel-search{
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 92px 312px;
}

.hotel-search b{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.hotel-search .button-hotel-search{
  display: flex;
  font-size: 20px;
  color: #FFFFFF;
  background: #756157;
  padding: 12px 15px;
  width: 574px;
  height: 60px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.button-hotel-search:hover{
  background-color: #615048;
}

.button-hotel-search:active{
  background-color:  #756157;
  color: rgba(255, 255, 255, 0.3);
}

.newsletter{
  background: #000000;
  color: #FFFFFF;
  background-image: url(../images/background.email.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  padding: 94px 200px;
}

.newsletter h2{
  margin: 0;
  margin-bottom: 28px;
}

.newsletter p{
  margin:0;
  margin-bottom: 46px;
}

.newsletter-form{
  display:flex;
  height: 60px;
}

.field{
  width: 600px;
  border-radius: 10px 0px 0px 10px;
  border: 0;
  padding-left: 22px;
  font-size: 18px;
}

.page-newsletter-title{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.newsletter .newsletter-button{
  text-transform: uppercase;
  background: #82B3D3;
  color:#FFFFFF;
  margin: 0;
  border: 0;
  border-radius: 0px 10px 10px 0px;
  width: 200px;
}

.newsletter-button:hover{
  background-color: #68A2CA;
}

.newsletter-button:active{
  color: rgba(255, 255, 255, 0.3);
  background: #82B3D3;
}

/*Футер*/
.page-footer{
  margin: 0 auto;
  width: 1200px;
}

.page-footer-container{
  display: flex;
  padding: 40px 70px 30px ;
}

.footer-social-list{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 160px;
  list-style-type: none;
  margin-right: 236px;
}

.footer-social-item{
  width: 48px;
  height: 40px;
}

.footer-social-link{
  display: block;
}

 .button-vk{
  display: block;
  width: 24px;
  height: 14px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 13px 12px;
  fill:#83B3D3;
}

.button-telegram{
  display: block;
  width: 18px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 12px 15px;
  fill:#83B3D3;
}

.button-youtube{
  display: block;
  width: 22px;
  height: 17px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 12px 13px;
  fill:#83B3D3;
}

.footer-social-list .button:hover{
  fill:#68A2CA;
}

.footer.footer-social-list .button:focus{
  fill:#68A2CA;
}

.footer-social-list .button:active{
  fill:rgba(104, 162, 202, 0.3);
}

.footer-contacts-phone{
  text-decoration: none;
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  width: 332px;
}

.footer-contacts-phone:hover{
  color: #756157;
}

.footer-contacts-phone:active{
  color: rgba(117, 97, 87, 0.3);
}

.footer-logo{
  margin: 0;
  margin-left: auto;
}

.logo-html:hover{
  fill: #756157;
}

.logo-html:active{
  fill: rgba(117, 97, 87, 0.3);
}

/*Каталог*/
.catalog-hotel{
  background-color: #242424;
  color:#FFFFFF;
  background-image: url(../images/catalog-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding: 35px 70px 70px 70px;
}

.inner-header-title{
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
}

.breadcrumbs{
  display: flex;
  width: 110;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  list-style-type: none;
}

.breadcrumbs-link{
  font-weight: 400;
  font-size: 16px;
  color:#FFFFFF;
  min-width:12px;
  min-height: 12px;
}


.breadcrumbs-item{
  display: flex;
}

.breadcrumbs li:nth-child(1) {
  background-image: url('../images/breadcrubs-house.svg');
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
}

.hotel-filter{
  display: flex;
  margin: 0 auto;
  width: 1060px;
}

.catalog-filter-infrastructure{
  width: 150px;
  margin: 0;
  padding: 0;
  border: 0;
 margin-right: 70px;
}

.catalog-filter-house{
  width: 146px;
  margin: 0;
  margin-right: 175px;
  padding: 0;
  border: 0;
}

.catalog-filter-price{
  width: 289px;
  margin-right: 70px;
  padding: 0;
  margin: 0;
  margin-right: 70px;
  border: 0;
}

.catalog-filter-button{
  width: 160px;
  margin-top: 60px;
}

.catalog-filter-button .button{
  width: 160px;
  height: 48px;
  display: inline-block;
  text-align: center;
}

.catalog-filter-button .button:nth-child(1){
  background: #82B3D3;
  color: #FFFFFF;
}

.catalog-filter-button .button:nth-child(1):hover{
  background: #68A2CA;
}

.catalog-filter-button .button:nth-child(1):active{
  color: rgba(255, 255, 255, 0.3);
  background: #82B3D3;
}


.catalog-filter-button .button:nth-child(2){
  color: #FFFFFF;
  background-color: transparent;
  font-weight: 400;
}

.catalog-filter-button .button:nth-child(2):hover{
  opacity: 0.6;
}

.catalog-filter-button .button:nth-child(2):focus{
  border: 3px solid #83B3D3;
  border-radius: 4px;
}

.catalog-filter-button .button:nth-child(2):active{
  opacity: 0.6;
}

.catalog-filter-title{
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 30px;
}

.range-input{
  width: 144px;
  height: 48px;
  font-size: 18px;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 14px 20px;
  background-color: transparent;
}

.catalog-filter-item:not(:last-child){
  margin-bottom: 15px;
}

.catalog-filter-list{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.catalog-filter-list-price{
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.control-input{
  background: #FFFFFF;
  border-radius: 4px;
}

.control-input:hover{
  background: rgba(255, 255, 255, 0.6);
}

.control-input:focus{
  background: rgba(255, 255, 255, 0.6);
  border: 3px solid #83B3D3;
}



.control-input-price{
  width: 288px;
}

.button{
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  border: 0;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
}

.sorting{
  display: flex;
  width: 1056px;
  margin: 60px 70px;
}

.sorting .select-control{
  width: 290px;
  height: 50px;
  margin-right: 78px;
  border: 2px solid #E5E5E5;
  margin-left: auto;
  border-radius: 4px;
  padding: 14px 20px;
  font-size: 18px;
}

.select-control:hover{
  border: 2px solid #68A2CA;
}

.select-control:focus{
  border: 2px solid #68A2CA;
}

.select-control:active{
  border: 2px solid #3F5E72;
}

.sorting h2{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-right: 190px;
}

.sorting .button{
  width: 48px;
  height: 48px;
  margin-right: 8px;
  background-repeat: no-repeat;
  background-position: center;
}

.sorting a:nth-of-type(1){
  background-image: url('../images/sorting-1.svg');
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.sorting a:nth-of-type(2){
  background-image: url('../images/sorting-2.svg');
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.sorting a:nth-of-type(3){
  background-image: url('../images/sorting-3.svg');
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.sorting a:active{
  border: 2px solid #000000;
}

.sorting a:hover{
  border: 2px solid #000000;
}

.sorting a:focus{
  border: 2px solid #68A2CA;
}

.container-hotel-list{
  width: 1056px;
  margin-left: 70px;
  margin-bottom: 96px;
}

.hotel-list{
  display:grid;
  grid-template-columns: 340px 340px 340px;
  column-gap: 18px;
  padding: 0;
  margin: 0;
}

.hotel-card-image{
  display: block;
  margin-left: 20px;
}

.hotel-card-content{
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
}

.hotel-card-title-link{
  width: 300px;
}

.hotel-card-title{
  margin: 0;
  margin-bottom: 16px;
}

.hotel-card-link{
  color: #000000;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.hotel-list button{
  background: #82B3D3;
  color: #FFFFFF;
  padding: 0;
  padding: 8px;
  width: 140px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.hotel-card{
  display: flex;
  flex-direction: column;
  color:#333333;
}

.hotel-card-button{
  text-align: center;
  width: 140px;
  height: 36px;
  margin-right: 20px;
  margin-bottom: 16px;
  padding:8px  15px;
  background: #756157;
  color: #FFFFFF;
  text-transform: uppercase;
}

.hotel-card-button:hover{
  background: #615048;
}

.hotel-card-button:active{
  background: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-card:nth-child(2) .button:nth-of-type(1){
  background: #7DB54F;
}

.hotel-card:nth-child(2) .button:nth-of-type(1):hover{
  background: #6C9E42;
}

.hotel-card:nth-child(2) .button:nth-of-type(1):active{
  color: rgba(255, 255, 255, 0.3);
  background: #7DB54F;
}

.type-hotel{
  width: 136px;
  margin-right: 24px;
  margin-bottom: 16px;
}

.hotel-list .hotel-card button:hover{
  background: #68A2CA;
}

.hotel-list .hotel-card button:active{
  background: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.star{
  align-items: center;
  display: flex;
  list-style-type: none;
  margin-right: auto;
  padding: 0;
}

.single-star{
  padding-right:6px;
}

.rating{
  padding: 8px 22px;
  background: #F2F2F2;
  box-sizing: border-box;
  width: 140px;
  border-radius: 4px;
}

.pagination-link{
  display: block;
  box-sizing: border-box;
  color: #FFFFFF;
  background: #82B3D3;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  padding: 10px 10px;
  border-radius: 4px;
  width: 60px;
  height: 60px;
}

.pagination-container{
  display: flex;
  margin-left: 70px;
}

.pagination{
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item:not(:last-child){
  margin-right: 8px;
}

.pagination-container .select-control{
  width: 160px;
  margin-right: 70px;
  margin-left: 50px;
  padding:14px 20px;
}

.label-select-control{
  display: flex;
  align-items: center;
  height: 50px;
  margin-left: auto;
}


.catalog-newsletter{
  color: #000000;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 94px 200px;
  text-align: center;
}

.catalog-newsletter .newsletter-form .field{
  background-color:#F2F2F2 ;
}

.catalog-newsletter h2{
  margin: 0;
  margin-bottom: 30px;
}

.catalog-newsletter p{
  margin:0;
  margin-bottom: 46px;
}

.newsletter-button{
  text-transform: uppercase;
  background: #82B3D3;
  color: #FFFFFF;
  border-radius: 0px 10px 10px 0px;
  width: 200px;
  cursor: pointer;
}




